.hero {
  padding: 1rem 1.5rem;
  background-image: url("/assets/woman-5262469_1280.jpg"); /* Ajusta el path a tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir toda la sección */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
