<section class="section">
  <div class="container">
    <figure class="image is-128x128">
      <img src="./assets/nails.png" alt="NailsGestionApp Logo" />
    </figure>
    <!-- Title -->
    <h1 class="title is-3">{{ "customer.title" | translate }}</h1>

    <!-- Introduction Section -->
    <div class="content mt-5">
      <p>{{ "customer.introduction" | translate }}</p>
    </div>

    <!-- User Debugging Policies Section -->
    <h2 class="title is-4 mt-5">
      {{ "customer.debuggingPoliciesTitle" | translate }}
    </h2>
    <div class="content">
      <p>{{ "customer.debuggingPolicies.intro" | translate }}</p>
      <ul>
        <li>
          <strong>{{
            "customer.debuggingPolicies.dataCollection" | translate
          }}</strong>
        </li>
        <li>
          <strong>{{
            "customer.debuggingPolicies.dataUsage" | translate
          }}</strong>
        </li>
        <li>
          <strong>{{
            "customer.debuggingPolicies.dataPrivacy" | translate
          }}</strong>
        </li>
        <li>
          <strong>{{
            "customer.debuggingPolicies.userConsent" | translate
          }}</strong>
        </li>
      </ul>
    </div>

    <!-- Terms of Use Section -->
    <h2 class="title is-4 mt-5">
      {{ "customer.termsOfUseTitle" | translate }}
    </h2>
    <div class="content">
      <p>{{ "customer.termsOfUse.intro" | translate }}</p>
      <ul>
        <li>
          <strong>{{ "customer.termsOfUse.acceptance" | translate }}</strong>
        </li>
        <li>
          <strong>{{
            "customer.termsOfUse.modificationOfTerms" | translate
          }}</strong>
        </li>
        <li>
          <strong>{{
            "customer.termsOfUse.prohibitedUses" | translate
          }}</strong>
        </li>
        <li>
          <strong>{{
            "customer.termsOfUse.limitationOfLiability" | translate
          }}</strong>
        </li>
      </ul>
    </div>
  </div>
</section>
