<section class="section">
  <div class="container">
    <figure class="image is-128x128">
      <img src="./assets/nails.png" alt="NailsGestionApp Logo" />
    </figure>
    <!-- Title -->
    <h1 class="title is-3 has-text-white">
      {{ "customer.title" | translate }}
    </h1>

    <!-- Introduction Section -->
    <div class="content mt-5 has-text-justified">
      <p class="has-text-link">
        <b>{{ "customer.introduction" | translate }}</b>
      </p>
    </div>

    <!-- User Debugging Policies Section -->
    <h2 class="title is-4 mt-5 has-text-white">
      {{ "customer.debuggingPoliciesTitle" | translate }}
    </h2>
    <div class="content has-text-justified">
      <p class="has-text-link">
        <b>{{ "customer.debuggingPolicies.intro" | translate }}</b>
      </p>
      <ul>
        <li class="has-text-link">
          <b>{{ "customer.debuggingPolicies.dataCollection" | translate }}</b>
        </li>
        <li class="has-text-link">
          <b>{{ "customer.debuggingPolicies.dataUsage" | translate }}</b>
        </li>
        <li class="has-text-link">
          <b>{{ "customer.debuggingPolicies.dataPrivacy" | translate }}</b>
        </li>
        <li class="has-text-link">
          <b>{{ "customer.debuggingPolicies.userConsent" | translate }}</b>
        </li>
      </ul>
    </div>

    <!-- Terms of Use Section -->
    <h2 class="title is-4 mt-5 has-text-white">
      {{ "customer.termsOfUseTitle" | translate }}
    </h2>
    <div class="content has-text-justified">
      <p class="has-text-link">
        <b>{{ "customer.termsOfUse.intro" | translate }} </b>
      </p>
      <ul>
        <li class="has-text-link">
          <b>{{ "customer.termsOfUse.acceptance" | translate }}</b>
        </li>
        <li class="has-text-link">
          <b>{{ "customer.termsOfUse.modificationOfTerms" | translate }}</b>
        </li>
        <li class="has-text-link">
          <b>{{ "customer.termsOfUse.prohibitedUses" | translate }}</b>
        </li>
        <li class="has-text-link">
          <b>{{ "customer.termsOfUse.limitationOfLiability" | translate }}</b>
        </li>
      </ul>
    </div>
  </div>
</section>
