<div *ngIf="catalogue.length > 0; else noData">
  <div class="my-slider">
    <div class="card-wrapper" *ngFor="let item of catalogue">
      <div class="card large m-3">
        <div class="card-image">
          <figure class="image">
            <img src="assets/cat_image.jpeg" alt="Image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  src="assets/icons/success-green-check-mark-icon.webp"
                  alt="Icon"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4 no-padding">{{ item.description }}</p>
              <p class="title is-6 has-text-link">
                {{ item.price | currency : "USD" }}
              </p>
              <p class="subtitle is-6">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swipe-hint" *ngIf="isMobile">
    <img src="assets/icons/swipe-hand.gif" alt="Swipe hint" />
  </div>
</div>

<ng-template #noData>
  <div class="notification is-warning has-text-centered">
    {{ "catalogue.noData" | translate }}
  </div>
</ng-template>
