<section class="section">
  <div class="container">
    <!-- Logo -->
    <figure class="image is-128x128">
      <img src="./assets/nails.png" alt="NailsGestionApp Logo" />
    </figure>

    <!-- Title -->
    <h1 class="title is-3 mt-4">{{ "contact.title" | translate }}</h1>

    <!-- Description -->
    <div class="content mt-4">
      <p>
        {{ "contact.description" | translate }}
      </p>
    </div>

    <!-- Contact Information -->
    <div class="box">
      <article class="media">
        <figure class="media-left">
          <span class="icon is-large">
            <i class="fas fa-phone fa-2x"></i>
          </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ "contact.phoneTitle" | translate }}</strong>
              <br />
              {{ "contact.phoneNumber" | translate }}
            </p>
          </div>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <span class="icon is-large">
            <i class="fas fa-envelope fa-2x"></i>
          </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ "contact.emailTitle" | translate }}</strong>
              <br />
              {{ "contact.emailAddress" | translate }}
            </p>
          </div>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <span class="icon is-large">
            <i class="fas fa-map-marker-alt fa-2x"></i>
          </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ "contact.addressTitle" | translate }}</strong>
              <br />
              {{ "contact.address" | translate }}
            </p>
          </div>
        </div>
      </article>
    </div>

    <!-- Social Media Links -->
    <div class="level is-mobile mt-5">
      <div class="level-left">
        <a class="level-item" href="https://facebook.com">
          <span class="icon is-small"><i class="fab fa-facebook"></i></span>
        </a>
        <a class="level-item" href="https://wa.me/1234567890">
          <span class="icon is-small"><i class="fab fa-whatsapp"></i></span>
        </a>
        <a class="level-item" href="https://instagram.com">
          <span class="icon is-small"><i class="fab fa-instagram"></i></span>
        </a>
      </div>
    </div>
  </div>
</section>
