<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/dashboard']">
      <figure class="image">
        <img
          src="assets/icons/nails.svg"
          alt="google"
          style="width: 2em; height: 2em"
        />
      </figure>
    </a>

    <a
      role="button"
      #navBurger
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/dashboard']">
        {{ "navbar.home" | translate }}
      </a>
      <a class="navbar-item" [routerLink]="['/dashboard/customer']">{{
        "navbar.customers" | translate
      }}</a>
      <a class="navbar-item" [routerLink]="['/dashboard/about']">{{
        "navbar.about" | translate
      }}</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> {{ "navbar.more" | translate }} </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/dashboard/arrangement']">{{
            "navbar.services" | translate
          }}</a>
          <a class="navbar-item" href="#">{{
            "navbar.appointments" | translate
          }}</a>
          <a class="navbar-item"> {{ "navbar.contact" | translate }} </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> {{ "navbar.problem" | translate }} </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <app-language-dropdown
        (languageItemEvent)="changeLanguage($event)"
      ></app-language-dropdown>

      <ng-template *ngIf="!user; else withUser">
        <div class="navbar-item">
          <a class="navbar-link" [routerLink]="['/auth/login']"> Log in </a>
        </div>
      </ng-template>

      <ng-template #withUser>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon-text">
              <span class="icon" *ngIf="!user?.photoURL; else withPhoto">
                <i class="fas fa-user-circle"></i>
              </span>
              <ng-template #withPhoto>
                <figure class="image is-30x30">
                  <img [src]="user?.photoURL" class="is-rounded" />
                </figure>
              </ng-template>

              <span>{{ user?.displayName }}</span>
            </span>
          </a>

          <div class="navbar-dropdown">
            <a [routerLink]="['/dashboard/profile']" class="navbar-item">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-search fa-lg"></i>
                </span>

                <span> {{ "profile.nav" | translate }}</span>
              </span>
            </a>
            <a (click)="logout()" class="navbar-item">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-arrow-right-from-bracket"></i>
                </span>

                <span>
                  {{ "navbar.singOut" | translate }}
                </span>
              </span>
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
