<section class="section">
  <div class="container">
    <!-- Logo -->
    <figure class="image is-128x128">
      <img src="./assets/nails.png" alt="NailsGestionApp Logo" />
    </figure>

    <!-- Title -->
    <h1 class="title is-3 mt-4">NailsGestionApp</h1>

    <!-- Welcome Section -->
    <div class="content mt-5">
      <p>
        Welcome to NailsGestionApp, your all-in-one solution for managing nail
        appointments and service costs! This software was designed to simplify
        and optimize the experience for both nail salon owners and their
        valuable clients.
      </p>
    </div>

    <!-- Description Section -->
    <h2 class="title is-4 mt-5">Description</h2>
    <div class="content">
      <p>
        NailsGestionApp is an intuitive and user-friendly platform that allows
        you to efficiently manage nail appointments and service costs. Whether
        you manage a full-fledged salon or are an independent nail professional,
        NailsGestionApp is tailored to meet your needs and enhance the
        efficiency of your business operations.
      </p>
    </div>

    <!-- Key Features Section -->
    <h2 class="title is-4 mt-5">Key Features</h2>
    <div class="content">
      <ul>
        <li>
          <strong>Appointment Management:</strong> Schedule appointments
          effortlessly and visualize your agenda with ease. Automatic reminders
          will keep your clients informed and reduce no-shows.
        </li>
        <li>
          <strong>Service Costs:</strong> Record and track the cost of each nail
          service to gain a clear insight into your income and expenses. This
          feature helps you make informed financial decisions.
        </li>
        <li>
          <strong>Client Profiles:</strong> Store detailed information about
          each client, their preferences, and past services to provide
          personalized service and enhance client satisfaction.
        </li>
        <li>
          <strong>Service History:</strong> Easily access the service history of
          each client to ensure a consistent and tailored experience based on
          their needs.
        </li>
      </ul>
    </div>
  </div>
</section>
