<section class="section">
  <div class="container">
    <!-- Logo -->
    <figure class="image is-128x128">
      <img src="./assets/nails.png" alt="NailsGestionApp Logo" />
    </figure>

    <!-- Title -->
    <h1 class="title is-3 mt-4 has-text-white">
      {{ "about.title" | translate }}
    </h1>

    <!-- Welcome Section -->
    <div class="content mt-5">
      <p>
        {{ "about.content1" | translate }}
        {{ "about.content2" | translate }}
        {{ "about.content3" | translate }}
        {{ "about.content4" | translate }}
      </p>
    </div>

    <!-- Description Section -->
    <h2 class="title is-4 mt-5">{{ "about.descriptionTitle" | translate }}</h2>
    <div class="content">
      <p>
        {{ "about.descriptionContent1" | translate }}
        {{ "about.descriptionContent2" | translate }}
        {{ "about.descriptionContent3" | translate }}
        {{ "about.descriptionContent4" | translate }}
        {{ "about.descriptionContent5" | translate }}
      </p>
    </div>

    <!-- Key Features Section -->
    <h2 class="title is-4 mt-5">{{ "about.keyFT" | translate }}</h2>
    <div class="content">
      <ul>
        <li>
          <strong>{{ "about.appointmentManagement" | translate }}</strong>

          {{ "about.appointmentText1" | translate }}
          {{ "about.appointmentText2" | translate }}
          {{ "about.appointmentText3" | translate }}
        </li>
        <li>
          <strong>{{ "about.serviceCosts" | translate }}</strong>
          {{ "about.serviceText1" | translate }}
          {{ "about.serviceText2" | translate }}
          {{ "about.serviceText3" | translate }}
        </li>
        <li>
          <strong>{{ "about.clientProfiles" | translate }}</strong>
          {{ "about.clientText1" | translate }}
          {{ "about.clientText2" | translate }}
          {{ "about.clientText3" | translate }}
        </li>
        <li>
          <strong>{{ "about.serviceHistory" | translate }}</strong>
          {{ "about.serviceHistoryText1" | translate }}
          {{ "about.serviceHistoryText2" | translate }}
          {{ "about.serviceHistoryText3" | translate }}
        </li>
      </ul>
    </div>
  </div>
</section>
