<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/dashboard']">
      <img src="assets/dashboard.png" width="112" height="28" />
    </a>

    <a
      role="button"
      #navBurger
      class="navbar-burger burguer"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <!-- ... Resto del contenido ... -->

      <a class="navbar-item" [routerLink]="['/dashboard']"> Home </a>
      <a class="navbar-item" href="#">Customers</a>
      <a class="navbar-item" href="#">Search</a>
      <a class="navbar-item" href="#">About</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="#">Arrangements</a>
          <a class="navbar-item" href="#">Appointments</a>
          <a class="navbar-item"> Contact </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Report an issue </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <!--  si no hay usuario -->
      <div class="navbar-item" *ngIf="!usuario; else withUser">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a [routerLink]="['/auth/login']" class="button is-light"> Log in </a>
        </div>
      </div>

      <ng-template #withUser>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              {{ usuario.username }}
            </a>

            <a (click)="logout()" class="button is-danger">
              <fa-icon [icon]="faSignOut"></fa-icon>
              Sign out
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</nav>

<app-catalogue></app-catalogue>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-link" [routerLink]="['/dashboard']"
                >Nails Gestion</a
              >
              <span class="tag is-light">by Gino Ricardo</span>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-link">The source code is licensed</a>
              <span class="tag is-light"
                >MIT &nbsp;<i class="fa fa-github"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
