<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/dashboard']">
      <!-- <img src="assets/dashboard.png" width="112" height="28" /> -->
      <img src="assets/dashboard.png" width="190" height="800" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/dashboard']"> Home </a>

      <!-- <a class="navbar-item"> Documentation </a> -->

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Scheduler </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"> Customers </a>
          <a class="navbar-item"> Arrangements </a>
          <a class="navbar-item"> Appointments available </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Reports </a>
        </div>
      </div>
    </div>

    <div class="navbar-end" *ngIf="usuario">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> {{ usuario.username }} </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="logout()"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section"></section>
