/* dashboard.css */
.section {
  padding: 1rem 1.5rem;
  background-image: url("/assets/font.jpg"); /* Ajusta el path a tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir toda la sección */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

@media (min-width: 1024px) {
  .section {
    padding: 3rem 1.5rem;
  }
}

.icon {
  width: 24px;
  height: 24px;
  max-width: 100%;
  height: auto;
}

/* Ajustes adicionales */
.container {
  max-width: 100%;
}

@media (max-width: 768px) {
  .section {
    padding: 0.5rem;
  }
}
