/* You can add global styles to this file, and also import other style files */
/* styles.css */

/* Establecer box-sizing para todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Resetear margenes y padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Añadir espacio en blanco en el documento */
body {
  padding: 2rem 1rem;
}

/* Definir tamaños de imagen */
img {
  max-width: 100%;
  display: block;
}

/* Estilos globales para el contenedor */
.container {
  max-width: 100%;
  padding: 0.1rem;
}
