<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-link" [routerLink]="['/dashboard']"
                >Nails Gestion</a
              >
              <span class="tag is-light">
                {{ "footer.createdBy" | translate }} Gino Miguel Ricardo
              </span>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-link">{{ "footer.all" | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
